page-perfil {
    .botonCentro{
        align-items: center !important;
    }
    .center{
        text-align:center;
   }   

   .vista{
    background-image: url('../../img/fondo-autocom2.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    
    }
    .item.item-input {
        background-color: transparent;
    }
    .list{
        background-color: transparent !important;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
      }
          .item{
            background-color: transparent !important; ;
            border: 0  !important;
            padding: 0px;
            min-height: 20px;
            max-height: 30px;
          }
          .item-content{
              background-color: transparent !important ;
              font-size: 10px;
              padding: 0px;
              
          }
          #button {
            background-color: #C8FF00; 
            padding: 2px 4px;
            font: 13px;
            text-decoration: none;
            color: #000;
            width:200px;
        }
        #cancelar {
            background-color: #C8FF00; 
            padding: 2px 4px;
            font: 13px;
            text-decoration: none;
            color: #000;
            width:150px;
        }
        .titulo{
            font: 80px;
            font-size: 35px;
            text-decoration: none;
            color: #14CCC5
        }
        .h4{
            text-decoration: none;
            color: #797E7E;
            font-size: 15px;
        }
        .r{
            padding-left: 120px;
            padding-bottom: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
            font-size: 5px;
            .item{
                font-size: 10px;
                min-height: 20px;
                max-height: 10px;
                padding: 2px;
            }
        }
        
        
}
